#mybtn
{
    text-align: center;
    margin-left: 730px;
    margin-top: 30px;
    border-radius: 2px;
    border-style: none;
    background-color: dodgerblue;
    height: 25px;
}
#mybtn:hover
{
    background-color: deepskyblue;
}